

    <div class="twelfth_education" id="holder">
        <form>
            <div class="container-fluid">
                <div class="twelfth_education_head">
                    <div class="col-xs-12 col-sm-12 col-md-12 twelfth_education_inner">
                        <span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
						10th Education<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
                    </div>
                </div>

                <div id="test">

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">10th Education</label>
                                <select class="form-control">
                                    <option>Select Higher Education </option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Course Type</label>
                                <fieldset>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                            <label for="radio1" class="label_radio_text">
                                                Full Time
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                            <label for="radio2" class="label_radio_text">
                                                Part Time
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-padd">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio3" value="option3">
                                            <label for="radio3" class="label_radio_text">
                                                Correspondence/Distance learning
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Specialization</label>
                                <select class="form-control">
                                    <option>Select </option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">University/Institute</label>
                                <select class="form-control">
                                    <option>Select </option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="row firstname">
                            <div class="col-md-12">
                                <label class="firstNameLabel">Year</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-padd_right">
                                <input type="text" class="form-control" id="usr0" placeholder=" From Date">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-padd_left">
                                <input type="text" class="form-control" id="usr1" placeholder=" To Date">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">CGPA or Percentage</label>
                                <select class="form-control">
                                    <option>Select </option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="save">
                <button type="button" class="btn btn-lg btn-block save2">Submit</button>
            </div>

        </form>
    </div>
