<div class="about_us" id="holder">
<form>
<div class="about_us_head">
<div class="about_us_head_inner">
<span ng-click="closepage()" class="back_arow"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
 <span>About Us</span>
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>

</div>
</div>
<div id="test">


<!--<div class="about_img">
<h4>About Us</h4>
</div>-->

<h5>What we do</h5>
<div class="inner_abt">
<p>With the vision to bridge the gap between a job seeker and a recruiter, takeajob offers hiring features which are not only exclusive in its term but as well sets us apart from competitors. We respect your dedication and thus offer our helping hand to achieve your dream career. The job portal is designed with many added advantages to allow hiring seniors and concerned candidates to seek their requirements from their own comfort zones. Moreover, takeajob assures its users with a platform to pursue their requisites from various verticals and industries. Though new in the market, the benefits of our services and facilities can already be enjoyed from all the major cities and urban of India.</p>
</div>


<h5>Who we are</h5>
<div class="inner_abt">
<p>Allowing innovation to attain its zenith, takeajob is a contemporary online job search site freshly launched by Sagacious InfoSystems - the reputed Online Marketing Brand. The portal was introduced during 2015 with its base in Bangalore. We offer a wide range of selection criteria, which has brought flying colors to thousands of job seekers as well as the employers. Our focus is to guide you in achieving your professional goals with the help of our esteemed experts in the arena of e-recruitment.</p>
</div>




<h5>Why Take A Job</h5>
<div class="inner_abt">
<p>At, Take a Job one can find high service quality, which made us what we are today. With unmatched technology and world class team of experts we, help you to find your dream job. One of the greatest benefits one can have only at Take A Job is security and utmost importance to privacy policy.</p>
</div>
</div>


</form>
</div>
