
<form>
<div class="container-fluid">
<div class="add_projects">
<div class="add_projects_head">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 add_projects_inner">
<span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Add Projects
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
</div>
</div>
</div>
<div id="test">

<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Project Title</label>
<input type="text" placeholder="Enter Your Project Title" class="form-control" required="">
</div>
</div>
</div>



<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Client</label>
<input type="text" placeholder="Enter Your Project Title" class="form-control" required="">
</div>
</div>
</div>


<div class="form-group">

<div class="row firstname">
<div class="col-md-12">
<label class="firstNameLabel">Project Duration</label>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-padd_right">
<input type="text" class="form-control" id="usr0" placeholder="From Date">
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-padd_left">
<input type="text" class="form-control" id="usr1" placeholder="To Date">
</div>
</div></div>


<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Project Location</label>
<fieldset>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                <label for="radio1" class="label_radio_text">
                                    Onsite
                                </label>
                            </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio2" value="option2">
                                <label for="radio2" class="label_radio_text">
                                    Offsite
                                </label>
                            </div>
                        </div>
                </fieldset>

     </div> </div></div>










<div class="form-group">
<div class="col-xs-12 col-sm-12 col-md-12">
<div class="row firstname">
<label class="firstNameLabel">Employment Type</label>
<fieldset>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-padd">
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                <label for="radio1" class="label_radio_text">
                                    Full Time
                                </label>
                            </div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-padd">
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio2" value="option2">
                                <label for="radio2" class="label_radio_text">
                                     Part Time
                                </label>
                            </div>
                        </div>
						
							<div class="col-xs-4 col-sm-4 col-md-4 col-padd">
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio3" value="option3">
                                <label for="radio3" class="label_radio_text">
                                    Contract
                                </label>
                            </div>
                        </div>
                </fieldset>
</div></div></div>

<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Role</label>
<select class="form-control">
<option>Select</option>
</select>
<span class="arrow"></span>
</div></div></div>


<div class="form-group ">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
  <label class="firstNameLabel">Project Details</label>
  <textarea class="form-control" rows="5" id="comment" placeholder="Enter Your Project Details..."></textarea>
</div>
</div>
</div>


<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Functional Area</label>
<select class="form-control">
<option>Select your Functional Area</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>




<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Role</label>
<select class="form-control">
<option>Select Role</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>


<div class="form-group ">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
  <label class="firstNameLabel">Role Description</label>
  <textarea class="form-control" rows="5" id="comment" placeholder=""></textarea>
</div>
</div>
</div>



<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">URL</label>
<input type="text" placeholder="" class="form-control" required="">
</div>
</div>
</div>

<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Team Size</label>
<input type="text" placeholder="" class="form-control" required="">
</div>
</div>
</div>


<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Technology Used</label>
<input type="text" placeholder="Select Skill" class="form-control" required="">
</div>
</div>
</div>







</div>
</div>
</div>
<div class="save">
<button type="button" class="btn btn-lg btn-block save2">Save</button>
</div>
</form>
