<div class="appliedjobs" id="holder">
   <form>
      <div class="appliedjobs_head">
         <div class="col-xs-12 col-sm-12 col-md-12 appliedjobs_inner">
            <span><a href="" ng-click="closepage()"><i id="previous" class="fa fa-angle-left" aria-hidden="true"></i></a>
            Applied Jobs<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
         </div>
      </div>
      <div id="test">
         <div ng-repeat="a in appliedJobs" class="appliedjobs-head_container">
            <h6><a href="#/search/viewjob?id={{a.jobId}}">{{a.jobTittle}}</a><span class="right-box"><i class="fa fa-briefcase" aria-hidden="true"></i></span></h6>
            <h6>{{a.jobLocation}}</h6>
            <p>{{a.companyName}}</p>
            <div class="applysent_btn">Apply Sent<span class="down_arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
         </div>
		 <h5 align ="center" style="color:red;">{{errorMessage}}</h5>
		  <img id="spinner" class="loader center-block" ng-src="https://takeajob.s3.amazonaws.com/assets/app-images/app-loader.gif"  style="display:{{none}}" height="30" width="30"/>
		 
      </div>
	  <div class="save" ng-init="buuton_disable=false">
         <button type="button" ng-disabled="buuton_disable" ng-click="loadAppliedJobs()" class="btn btn-lg btn-block save2">{{button}}</button>
      </div> 
   </form>
</div>
</div>