<link href="assets/css/changepassword.css" rel="stylesheet" type="text/css">

<div id="page-content">
<div id="holder">

<div id="menu-overlay"></div>
<ul id="menu">
<li><div class="logo_slide"><img src="assets/images/logo_white.png" class="img-responsive center-block" alt="Take A job" title="Take A job">
			</div></li>
  <li><a href="#/site/login" class="border">Login<img alt="login" class="login" src="assets/images/login.png"></a></li>
  <li><a href="#/site/register" class="border">Register<img alt="register" class="login" src="assets/images/register.png"></a></li>
  <li><a href="#/site/jobSearch" class="border">Search Job<img alt="search" class="login" src="assets/images/search.png"></a></li>
  <li><a href="#/company/companylisting" class="border">Search By Company<img alt="search" class="login" src="assets/images/search.png"></a></li>
  <li><a href="#/job/joblisting" class="border">Search By Job<img alt="search" class="login" src="assets/images/search.png"></a></li>
  <li><a href="#/site/settings" class="border">Settings<img alt="aboutus" class="login" src="assets/images/settingsicon.png"></a></li>
  <li><a href="#/site/recommended" class="border">Jobs for You<img alt="aboutus" class="login" src="assets/images/jobsforyou.png"></a></li>
  <li><a href="#/site/inbox" class="border">Inbox<img alt="aboutus" class="login" src="assets/images/inboxmenuicon.png"></a></li>
  <li><a href="#/site/aboutus" class="border">About Us<img alt="aboutus" class="login" src="assets/images/inboxmenuicon.png"></a></li>
   <li><a href="#/site/contactus" class="border">Contact Us<img alt="aboutus" class="login" src="assets/images/inboxmenuicon.png"></a></li>
  <li><a href="#/site/faq" class="border">FAQs<img alt="aboutus" class="login" src="assets/images/inboxmenuicon.png"></a></li>

</ul>


<div class="loginbtn">
<div class="login1">
<span>
<span id="menu-toggle" class="header-item">
    <a id="menu-icon" class="link-btn side-nav-btn">
	<img alt="menuicon" id="setdecoration" src="assets/images/icon_main.png"/>
	</a>
 </span>
<a href="#"><img alt="logo" id="logo" src="assets/images/logo_app.png"/></a>
<a href="" ng-click="closepage()" ><img alt="close" id="close" src="assets/images/close.png"/></a>
</span>
</div>
</div>
<div class="container" id="test">
<div class="formfields2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<img class="password2" alt="password" src="assets/images/password.png"/>
<input type="password" placeholder="Enter Current Password" class="password" id="oldpwd">
<a href="#" class="showHide1" >Show</a>
</div>  
</div> 
 
<div class="formfields2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<img class="password2" alt="password" src="assets/images/password.png"/>
<input type="password" placeholder="Enter New Password" class="password" id="nwpwd">
<a href="#" class="showHide2" >Show</a>
</div> 
</div> 

<div class="formfields2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<img class="password2" alt="password" src="assets/images/password.png"/>
<input type="password" placeholder="Enter New Password" class="password" id="cnfpwd">
<a href="#" class="showHide3" >Show</a>
</div> 
</div> 

<div class="changepassword">
<div class="col-xs-12 col-sm-12 col-md-12 chgpassword">
<button type="button" class="btn btn-lg btn-block chgpswd">Change Password</button>
</div>
</div>
</div>

<div class="row2">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn submit">Exit Application</button>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn generate" onclick="window.location.href='#/site/index'">Logout</button>
</div>
</div>
<!--
<div class="row2">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn exitApp">Exit Application</button>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn logout">Logout</button>
</div>
</div>-->


</div>
</div>
