
<form>
<div class="changemailId">


<div class="header">
<div class="header1">

<span>
<a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Change Email ID
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>
</span>
</div>
</div>

<div class="firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<div class="firstNameLabel1">Current Email ID</div>
<input type="text"  placeholder="Current Email ID" class="emailIdfield" required>
</div>
</div>


<div class="firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<div class="firstNameLabel">New Email ID</div>
<input type="text"  placeholder="New Email ID" class="emailIdfield" required>
</div>
</div>

<div class="row2">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn submit">Submit</button>
</div>
</div>
</div>
</form>
