<form>
<div class="container-fluid col-padd">
<div class="communicationsettings">
<div class="communicationsettings_head">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 communicationsettings_inner">
<span>
<a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Communication Settings
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>
</span>
</div>
</div>
</div>
<div id="test">
<label class="firstNameLabel col-md-12">Career related communiaction</label>

<table class="table">
    <thead>
      <tr>
        <th class="text">Services</th>
        <th class="text">Email</th>
        <th class="text">SMS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Job Alert</td>
        <td>
		<div class="checkbox checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1" checked="">
        <label for="inlineCheckbox1" class="firstNameLabel"></label>
        </div>
		</td>
        <td>
		<div class="checkbox checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2">
        <label for="inlineCheckbox2" class="firstNameLabel"></label>
        </div>
		</td>
      </tr>
      <tr>
        <td>Important Notification from take a job</td>
        <td>
		<div class="checkbox checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3">
        <label for="inlineCheckbox3" class="firstNameLabel"></label>
        </div>
		</td>
        <td>
		<div class="checkbox checkbox-inline">
        <input type="checkbox" id="inlineCheckbox4" value="option4" >
        <label for="inlineCheckbox4" class="firstNameLabel"></label>
        </div>
		</td>
      </tr>
      <tr>
        <td>Communication from clients</td>
        <td>
		<div class="checkbox checkbox-inline">
        <input type="checkbox" id="inlineCheckbox5" value="option5" >
        <label for="inlineCheckbox5" class="firstNameLabel"></label>
        </div>
		</td>
        <td>
		<div class="checkbox checkbox-inline">
        <input type="checkbox" id="inlineCheckbox6" value="option6">
        <label for="inlineCheckbox6" class="firstNameLabel"></label>
        </div>
		</td>
      </tr>
	  
	        <tr>
        <td>Other promotion & special offers</td>
        <td>
		<div class="checkbox checkbox-inline">
        <input type="checkbox" id="inlineCheckbox7" value="option7" >
        <label for="inlineCheckbox7" class="firstNameLabel"></label>
        </div>
		</td>
        <td>
		<div class="checkbox checkbox-inline">
        <input type="checkbox" id="inlineCheckbox8" value="option8">
        <label for="inlineCheckbox8" class="firstNameLabel"></label>
        </div>
		</td>
      </tr>
	  
	  
	  
	  
	  
    </tbody>
  </table>





</div>
</div>
</div>
<div class="save">
<button type="button" class="btn btn-lg btn-block save2">Save</button>
</div>
</form>
