<div id="page-content">
<div class="menu-overlay"></div>
<ul class="menu">
<site-menu></site-menu>
</ul>
<div class="complete_your_profile" id="holder">
<form>

<div class="complete_your_profile_head">
<div class="col-xs-12 col-sm-12 col-md-12 complete_your_profile_inner">
<span id="menu-toggle" class="header-item">
<a class="link-btn side-nav-btn menu-icon">
<i class="fa fa-bars" id="setdecoration" aria-hidden="true"></i>
</a>
</span>	
<span>Complete Your Profile
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
</div>
</div>

<div id="test">
<div class="col-md-12 inner_tag">
<p>Make your profile attractive to recruiters.
Provide us the following Details</p>
</div>


<div class="col-md-12 col-padd">
<div class="col-xs-12 col-sm-12 col-md-12 col-padd">
<div class="profile_container"><img alt="close" class="prifile_img" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-profile.png"/>

					<div class="input-group">
						<div class="input-group-btn "> 
						<div class="upload_bt">
							<input type="file" class="upload_btimg" accept="image/png, image/jpeg, image/gif"/>
							</div>
							<!-- rename it --> 
						</div> </div></div>
						
<div class="inner_text">
<label class="firstNameLabel">Upload Photo</label>
<p>Please Upload your recent 
photograph to get better 
visibility</p>
</div>											
</div>
</div>
<div class="clr"></div>
<div class="container-fluid">
<label class="firstname_label">Current Position/Employer</label>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstname_label_inner">Hometown</label>
<input type="text" class="form-control" id="usr9" placeholder="Your city">
</div></div></div>

<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Your Designation</label>
<select class="form-control">
<option>Select Designation</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>


<div class="form-group">
<div class="row firstname ">
<div class="col-md-12">
<label class="firstNameLabel">Annual Salary</label>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-padd_right">
<select class="form-control">
<option>Select Lakhs</option>
</select>
<span class="arrow_date"></span>
</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-padd_left">
<select class="form-control">
<option>Select Thousands</option>
</select>
<span class="arrow_date"></span>
</div>
</div></div>



<div class="form-group">

<div class="row firstname">
<div class="col-md-12">
<label class="firstNameLabel">Duration</label>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-padd_right">
<input type="text" class="form-control" id="usr0" placeholder=" From">
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-padd_left">
<input type="text" class="form-control" id="usr1" placeholder=" To">
</div>
</div></div>


<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Notice Period</label>
<select class="form-control">
<option>Select Notice Period</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>



<div class="form-group ">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
  <label class="firstNameLabel">Job Profile</label>
  <textarea class="form-control" rows="5" id="comment" placeholder=" Describe about job Profile"></textarea>
</div>
</div>
</div>


<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Graduation</label>
<select class="form-control">
<option>Select </option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>

<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Graduation Type</label>
<fieldset>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                <label for="radio1" class="label_radio_text">
                                    Full Time
                                </label>
                            </div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio2" value="option2">
                                <label for="radio2" class="label_radio_text">
                                    Part Time
                                </label>
                            </div>
                        </div>
						
							<div class="col-xs-12 col-sm-12 col-md-12 col-padd">
                            <div class="radio">
                                <input type="radio" name="radio1" id="radio3" value="option3">
                                <label for="radio3" class="label_radio_text">
                                   Correspondence/Distance learning
                                </label>
                            </div>
                        </div>
						
					 
                </fieldset>

     </div> </div></div>
						


<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Graduation University Institute</label>
<select class="form-control">
<option>Select </option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>


<div class="form-group">

<div class="row firstname">
<div class="col-md-12">
<label class="firstNameLabel">Year</label>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-padd_right">
<input type="text" class="form-control" id="usr2" placeholder=" From">
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-padd_left">
<input type="text" class="form-control" id="usr3" placeholder=" To">
</div>
</div></div>


<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">CGPA or Percentage</label>
<input type="text" placeholder="Enter Your Percentage" class="form-control" required="">
</div>
</div>
</div>



<label class="firstname_label">Profile Information</label>
<div class="form-group">
        <div class="row firstname">
            <div class="col-xs-12 col-sm-12 col-md-12">
			    <label class="firstNameLabel">Job Type</label>
                <fieldset>
				<div class="col-xs-5 col-sm-5 col-md-5 col-padd ">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1" checked="">
                        <label for="inlineCheckbox1" class="firstNameLabel">Permanent</label>
                    </div></div>
					<div class="col-xs-7 col-sm-7 col-md-7 col-padd">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option1" >
                        <label for="inlineCheckbox2" class="firstNameLabel">Temporary/Contractual</label>
                    </div></div>
                </fieldset>
            </div>
        </div>
</div>



<div class="form-group">
        <div class="row firstname">
            <div class="col-xs-12 col-sm-12 col-md-12">
			    <label class="firstNameLabel">Employment Type</label>
                <fieldset>
				<div class="col-md-12 col-padd">
				<div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="option3" checked="">
                        <label for="inlineCheckbox3" class="firstNameLabel">Full Time</label>
                    </div></div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox4" value="option4" >
                        <label for="inlineCheckbox4" class="firstNameLabel">Part Time</label>
                    </div></div>
					</div>
					
					
					<div class="col-md-12 col-padd">
				<div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox5" value="option5" >
                        <label for="inlineCheckbox5" class="firstNameLabel">Freelance</label>
                    </div></div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox6" value="option6" >
                        <label for="inlineCheckbox6" class="firstNameLabel">Contractual</label>
                    </div></div>
					</div>
                </fieldset>
            </div>
        </div>
</div>



<div class="form-group">
<div class="row firstname ">
<div class="col-md-12">
<label class="firstNameLabel">Date of Birth</label>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-padd_right">
<select class="form-control">
<option>Date</option>
</select>
<span class="arrow_date"></span>
</div>

<div class="col-xs-4 col-sm-4 col-md-4  col-padd_mid">
<select class="form-control">
<option>Month</option>
</select>
<span class="arrow_date"></span>
</div>


<div class="col-xs-4 col-sm-4 col-md-4 col-padd_left">
<select class="form-control">
<option>Year</option>
</select>
<span class="arrow_date"></span>
</div>


</div></div>




<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Gender</label>
<select class="form-control">
<option>Select </option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>

<div class="form-group">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 add_btn">
<label class="firstNameLabel">Technical Skill Set</label>
<button type="button" class="btn btn-lg btn-block add_btn_inner"><span><i class="fa fa-plus add_plus" aria-hidden="true"></i></span>Add your Skill</button>
</div>
</div>
</div>

<div class="form-group">
<div class="row firstname ">
<div class="col-md-12">
<label class="firstNameLabel">Languages Known</label>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-padd_right">
<select class="form-control">
<option>Languages</option>
</select>
<span class="arrow_date"></span>
</div>

<div class="col-xs-4 col-sm-4 col-md-4  col-padd_mid">
<select class="form-control">
<option>Proficiency</option>
</select>
<span class="arrow_date"></span>
</div>


<div class="col-xs-1 col-sm-1 col-md-1 col-padd">

<div class="read_icon"><img alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-0111.png"/></div>
<div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox8" value="option8" checked="" >
                        <label for="inlineCheckbox8" class="firstNameLabel"></label>
                    </div>
</div>


<div class="col-xs-1 col-sm-1 col-md-1 col-padd">
<div class="read_icon"><img alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-0222.png"/></div>

<div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox9" value="option9" >
                        <label for="inlineCheckbox9" class="firstNameLabel"></label>
                    </div>
</div>


<div class="col-xs-1 col-sm-1 col-md-1 col-padd">
<div class="read_icon"><img alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-0333.png"/></div>
<div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox10" value="option10" >
                        <label for="inlineCheckbox10" class="firstNameLabel"></label>
                    </div>
</div>


<div class="col-xs-1 col-sm-1 col-md-1 col-padd">
<div class="trash_delet">
<i class="fa fa-trash-o" aria-hidden="true"></i>
</div>
</div>




</div></div>


<div class="form-group">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 add_btn">
<label class="firstNameLabel">Technical Skill Set</label>
<button type="button" class="btn btn-lg btn-block add_btn_inner"><span><i class="fa fa-plus add_plus" aria-hidden="true"></i></span>Add your Skill</button>
</div>
</div>
</div>



</div>


<div class="row2">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn submit" onclick="window.location.href='#/site/registermoredetails'">Save</button>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn generate">Skip</button>
</div>
</div>

</div>
</form>
</div>
</div>

