


<div id="page-content">
<div class="menu-overlay"></div>
<ul class="menu">
<site-menu></site-menu>
</ul>
<form name="ContactForm"  class="css-form" novalidate>
<div class="contactUs" id="holder">
<div class="header">
<div class="header1">
<span>
<span id="menu-toggle" class="header-item">
<a class="link-btn side-nav-btn menu-icon">
<i class="fa fa-bars" id="setdecoration" aria-hidden="true"></i>
</a>
</span>	
Contact Us
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>
</span>
</div>
</div>
<div id="test">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.2452191818415!2d77.65301311423305!3d13.020050217337516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae10d4968afe47%3A0x3a7f5eed02ddd53b!2sSagacious+InfoSystems+Private+Limited!5e0!3m2!1sen!2sin!4v1465903122309" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
<div  class="container">


<div class="firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<div class="place"><i class="fa fa-map-marker"></i>Takeajob Private Limited</div>
<div class="place2">1st floor,#1547 Peddanna Layout,Outer Ring road,Banaswadi,Bengaluru,Karnataka 60043 </div>
</div><br><br>
<div class="col-xs-6 col-sm-6 col-md-6 align">
<div class="place"><img  id="emailId" alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-emailId.png"/>info@takeajob.com</div>

</div>
<div class="col-xs-6 col-sm-6 col-md-6 align">
<div class="place"><img  id="landline" alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-landline.png"/>080-43432415</div>
</div>
</div>
<div class="firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<div ng-show="alert_message" class="{{alert_class}}">
<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			    <strong>{{success}}</strong> {{responseMessage}}
		     	</div>
<label class="firstNameLabel">Name</label>
<input type="text" name="name"  ng-pattern="/^[A-Za-z. ]+$/" ng-model="conatct.name" placeholder="Enter Your Name" class="firstnamefield" required>
<div ng-show="ContactForm.$submitted || ContactForm.name.$touched && ContactForm.name.$invalid">
<div style="color:#a94442;" ng-show="ContactForm.name.$error.pattern">Please enter a valid Name.</div>
<div style="color:#a94442;" ng-show="ContactForm.name.$error.required">Name cannot be blank.</div>
</div>
</div>
</div>
<div class="firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<label class="firstNameLabel">Email ID</label>
<input type="email"  name="email" ng-model="conatct.email" placeholder="Enter Your Email ID" class="firstnamefield" required>
<div ng-show="ContactForm.$submitted || ContactForm.email.$touched && ContactForm.email.$invalid">
				  <div style="color:#a94442;" ng-show="ContactForm.email.$error.required">Email cannot be blank.</div>
				   <div style="color:#a94442;" ng-show="ContactForm.email.$error.email">Please enter a valid Email Address.</div>
				</div>
</div>
</div>
<div class="firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<label class="firstNameLabel">Subject</label>
<input type="text" name="subject" ng-model="conatct.subject" placeholder="Subject" class="firstnamefield" required >
<div ng-show="ContactForm.$submitted || ContactForm.subject.$touched && ContactForm.subject.$invalid">
				 <div style="color:#a94442;" ng-show="ContactForm.subject.$error.required">Subject cannot be blank.</div>
				</div>
</div>
</div>

<div class="form-group ">
<div class="firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
  <label class="firstNameLabel">Message</label>
  <textarea name="body" ng-model="conatct.body" class="form-control messagefield" rows="5" id="comment" placeholder="Enter Your Message" required></textarea>
 <div ng-show="ContactForm.$submitted || ContactForm.body.$touched && ContactForm.body.$invalid">
				    <div style="color:#a94442;" ng-show="ContactForm.body.$error.required">Message cannot be blank.</div>
				   </div>
  </div>
</div>
</div>

<div class="verification">
	<div class="capt  align "  data-ng-init="Captcha()">	 
	    <h2 type="text" id="mainCaptcha"></h2>
	</div>
	
	<div class="col-xs-6 col-sm-6 col-md-6 align">
	<input type="text" class="codeverifyfield" required id="txtInput">
	</div>

	<div class="col-xs-2 col-sm-2 col-md-2" style = "cursor:pointer">
		<a><i  ng-click="Captcha();" class="fa fa-recycle" aria-hidden="true" ></i></a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-6 col-sm-6 col-md-6 verificationcode">
			Verification code
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 align verificationcode" ng-show = "error_value"style="color:#a94442;">
			The Verification code is incorrect
		</div>
	</div>
</div>
</div>
</div>
<div class="submit" >

<input type="submit"  ng-click="ContactFormData()" ng-click="ValidCaptcha();" ng-disabled="ContactForm.$invalid " class="btn btn-lg btn-block submit2" value="Submit" />
</div>
</div>
</form>
