

    <div class="add_employer_designation" id="holder">
        <form>
            <div class="container-fluid">
                <div class="add_employer_designation_head">
                    <div class="col-xs-12 col-sm-12 col-md-12 add_employer_designation_inner">
                        <span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
						Education<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
                    </div>
                </div>
                <div id="test">

                    <label class="firstNameLabel">Please fill in your Academic Qualification details from the Highest Qualification to all the Remaning.</label>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-padd">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-padd_left_box">
                            <div class="education-btn"><a href="#/site/education">Graduation Education</a></div>
                        </div>
						 <div class="col-xs-6 col-sm-6 col-md-6 col-padd_right_box ">
                            <div class="other_btn"><a href="#/site/higher"> Higher Education</a></div>
                        </div>
                    </div>
					
					   <div class="col-xs-12 col-sm-12 col-md-12 col-padd">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-padd_left_box">
                            <div class="other_btn"><a href="#/site/twelth">12th Education</a></div>
                        </div>
						 <div class="col-xs-6 col-sm-6 col-md-6 col-padd_right_box ">
                            <div class="other_btn"><a href="#/site/tenth"> 10th Education</a></div>
                        </div>
                    </div>
					
					
					
					
					
					

                </div>
            </div>

        </form>
    </div>
