<div class="faq" id="holder">
<form>
<div class="faq_head">
<div class="faq_head_inner">
<span ng-click="closepage()" class="back_arow"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
 FAQs
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>
</div>
</div>
<div id="test">

<!--<div class="faq_head_container">

<h4>Frequently Asked Questions</h4>


</div>-->

<div class="faq_innercontainer">
<h5>Why takeajob.com?</h5>
<p>Takeajob is one of the successful and emerging online job portals. Our unique features and unmatched technology can assist you in finding the perfect fit in position. You will be provided with thousands of employers from different industries.</p>
</div>

<div class="faq_innercontainer">
<h5>How to Register with takeajob.com?</h5>
<p>To register with takeajob.com, Open the home page and click on job seeker registration then fill in the registration page with all details and submit it. By doing so you will receive your default password through an E-mail which you need to change it once you login.</p>
</div>



<div class="faq_innercontainer">
<h5>How a Resume can be Post?</h5>
<p>While registering with takeajob.com, you will be asked to fill in your details. Very next to that you will receive a welcome mail, following that it will lead to the page, where you have to upload your resume.</p>
</div>


<div class="faq_innercontainer">
<h5>How a Profile can be Updated or Edited?</h5>
<p>After logging in, under the home page you can find an option named edit profile. From there you can upload a new resume.</p>
</div>



<div class="faq_innercontainer">
<h5>How to Recover a Forgotten Password?</h5>
<p>At login page you can find a link for forget password. By entering the registered e-mail ID, a new password will be sent to the e-mail, which has to be changed by logging in.</p>
</div>


<div class="faq_innercontainer">
<h5>What is Search Job?</h5>
<p>Search job is the fundamental tool for job seeker. We provide selection criteria basing on company, category, designation, location and skill. You can search for jobs basing on the factor, you are looking for.</p>
</div>




<div class="faq_innercontainer">
<h5>How can ‘search’ helps in Refining Jobs?</h5>
<p>Instead of using key words or narrowed search patterns, we offer the evolved version of search job, where you will be notified about the employers nearby to residence given by you and you are free to search according to your requirement.</p>
</div>


<div class="faq_innercontainer">
<h5>How the Job Alerts does help?</h5>
<p>Job alert helps you to get notified about the job openings basing on the details provided by you. It helps in getting the most feasible option for your experience and expertise.</p>
</div>


<div class="faq_innercontainer">
<h5>Is it Possible to Apply for a Job without 
Registration ?</h5>
<p>Job alert helps you to get notified about the job openings basing on the details provided by you. It helps in getting the most feasible option for your experience and expertise.</p>
</div>



<div class="faq_innercontainer">
<h5>What is Save Jobs Option?</h5>
<p>Save jobs option enables the users to save a specific job posting, which can be applied at their comfortable timing after an overview. Anyhow saved job is going to be secured for 30 days from the day it has been saved.</p>
</div>



<div class="faq_innercontainer">
<h5>How can one get to know about a Successful job Application?</h5>
<p>You will be notified with an e-mail regarding a successful job application.</p>
</div>



<div class="faq_innercontainer">
<h5>How to Create a Profile?</h5>
<p>A profile is something comprised of your experience, skills possessed, professional and personal information. It can be done at the time of registration and there is a provision to edit from view profile page.</p>
</div>



<div class="faq_innercontainer">
<h5>Can the Multiple Profiles be Helpful?</h5>
<p>Having multiple profiles from a single user cannot be done at takeajob.com.</p>
</div>


<div class="faq_innercontainer">
<h5>What is Geo Tagging?</h5>
<p>Making note of a specific terrestrial area by its longitude and latitude is geo tagging. Takeajob.com is unique in this kind to offer such an option to the users.</p>
</div>

<div class="faq_innercontainer">
<h5>How can Geo Tagging be Resourceful?</h5>
<p>Geo tagging could come handy in most of the conditions, like it will allow you to search for the jobs near to your location. More over while searching for jobs in recently relocated towns it will help you to find the way in exact and prior manner.</p>
</div>















</div>
</form>
</div>
