<header style="background-color:#f2734a">
<div class="container">
<div class="row">
<div class="col-lg-3">
<img class="img-responsive" src="img/smartlogo.png" alt="seo Optimization Company,Get 1st page rank on your website">
</div>



<div class="col-lg-2" >
<div class="col-lg-12">
<a href="index.html"><img class="img-responsive kz9" src="images/sk8.png" alt="SEO Company in Australia,Let Business & Client Get Connected"></a>
</div>
<div class="col-lg-12">
<p class="mred1"><a href="index.html">Home</a></p>
</div>


</div>
<div class="col-lg-3">
</div>

<div class="col-lg-4 kz4">
<p style="line-height:12px; padding-top:15px;"><span class="mred20">Call Us : (07) 3102 37 39 / 69</span></p>


</div>

</div>
</div>
</header>

    <div id="page-content"  class="ad" style="height:100%">
    
  
        <div id="main-content">
            <div id="home-container">
                <div class="register_container">
                    <div class="container">
                        <div class="col-md-12 tj-new-register-page-design mred22">
                            <div class="container">
                                <div class="col-md-12" style="padding-left:0px;">
                                
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12" >


<br>
  <p class="mred21" style="padding-bottom:20px;"><span class="mred21" >Best SEO Service Company in Australia</span></p>                                      
                                        </div>
                                          <div class="hidden-md visible-xs visible-sm">
                                        <img  class="img-responsive" title= "Register to Take a Job" alt = "Register to Take a Job" src="img/banner.png"  >
                                       
                                    </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12" style="max-width: 465px; margin: 0 auto;background: #000; margin-top:-5px; margin-top:0px; padding: 0px 30px 20px 30px;overflow: hidden; background: none repeat scroll 0 0 rgba(255,255,255,0.1);
    border-top: 5px solid #fff;">
    <br>
    
                                            <form id="reg-form" action="reg_form.php" method="post">
                                                <input type="hidden" name="op" value="send">
                                                <h1 style="text-align:center;border:3px solid #fff ;padding:10px;" class="center"> Get Free Quote</h1>
                                                <hr style="border-top: 1px solid #CACACA;">
                                                <div class="form-group field-userregistration-tj_users_fname required">
                                                    <div class="icon-addon addon-lg required-field-block">
                                                        <input type="text" id="userregistration-tj_users_fname" class="form-control" name="first_name" maxlength="50" required="" placeholder="First Name">
                                                        <label for="email" class="fa fa-user" rel="tooltip" title="Name"></label>
                                                        <div class="required-icon">
                                                            <div class="text">*</div>
                                                        </div>
                                                    </div>
                                                    <p class="help-block help-block-error"></p>
                                                </div>
                                                <div class="form-group field-userregistration-tj_users_lname required">
                                                    <div class="icon-addon addon-lg required-field-block">
                                                        <input type="text" id="userregistration-tj_users_lname" class="form-control" name="last_name" maxlength="50" required="" placeholder="Last Name">
                                                        <label for="email" class="fa fa-user" rel="tooltip" title="Name"></label>
                                                        <div class="required-icon">
                                                            <div class="text">*</div>
                                                        </div>
                                                    </div>
                                                    <p class="help-block help-block-error"></p>
                                                </div>
                                                <div class="form-group field-userregistration-tj_users_email required">
                                                    <div class="icon-addon addon-lg required-field-block">
                                                        <input type="text" id="userregistration-tj_users_email" class="form-control" name="email" maxlength="50" required="" placeholder="Email Address">
                                                        <label for="email" class="fa fa-envelope" rel="tooltip" title="Name"></label>
                                                        <div class="required-icon">
                                                            <div class="text">*</div>
                                                        </div>
                                                    </div>
                                                    <p id="emailInfo" align="left"></p>
                                                    <p class="help-block help-block-error"></p>
                                                </div>
                                                <div class="form-group field-userregistration-tj_users_phone required">
                                                    <div class="icon-addon addon-lg required-field-block">
                                                        <input type="text" id="userregistration-tj_users_phone" class="form-control" name="phone" maxlength="10" required="" placeholder="Mobile Number">
                                                        <label for="email" class="fa fa-mobile" rel="tooltip" title="Name"></label>
                                                        <div class="required-icon">
                                                            <div class="text">*</div>
                                                        </div>
                                                    </div>
                                                    <p id="phoneInfo" align="left"></p>
                                                    <p class="help-block help-block-error"></p>
                                                </div>
                                                
                                       <br>
                                        
                                        <button type="submit" id="submit_id" class="btn btn-primary col-sm-12 button01" name="contact-button" style=" background:none; border:3px solid #fff ; color:#fff;min-width: 160px; ">Send</button>
                                        </form>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <style>
    .form-group {
        margin-bottom: 0 !important;
    }
    
    .register_container .tj-new-register-page-design .help-block {
        color: #A94442;
    }
    </style>
    
    <section>
<div id="services60">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="col-lg-1"></div>
<div class="col-lg-9">
<div class="kz3">
                 <p>As you may be aware that SEO in essence expands to, Search Engine Optimization. What it basically intends to achieve is to help optimise web pages on your website and along with other streamlined processes in place attempts to give clients more visibility, improve page rankings and also improve search criteria. Not to miss, help clients move up the search engine rankings list so the client benefits from it to the maximum both in terms of expanding your business presence, but also improving on and being able to reach out to a larger clientele. 
</p>

<p>And if you want to incorporate SEO methodologies and services, then you may be seeking a good SEO Company in Australia or an SEO Services Australia, and to help you out in this and a lot more is the SEO Agency Australia, Ocean Groups. </p>

<p>We are a 100-member strong team whose workforce comes from different backgrounds and who come with the experience to help deliver what our client seeks from our bouquet of services offered. Our SEO specialists or SEO experts have the expertise to help augment a client's visibility and help our clients find clients online and thus enhance your scope of services and also grow as a company. </p>

<p>All of this is achieved with a set of streamlined processes, aided by organic results, keyword research, link building, SEO content and more. </p>

<p>If you are interested and would like to engage the services of this SEO Company, Ocean Groups, drop a line to info@oceangroups.com.au.</p>
</div>
</div>
<div class="col-lg-2"></div>

</div>
</div>
</div>
</div>


</section>



<section id="kd1" class="work parallax general">
<div id="services">
<div class="container">




<div class="row kz6 text-center">

<div class="col-md-4 wow bounceInLeft">
<a href="web_designing.html" title="web designing" class="btn" id="btn-blue">SEO On-Page</a>
<div class="col-md-12  kz8">
<span><img class="img-responsive  center-block" src="images/sk1.png" alt="Low cost seo agency,Let Business & Client Get Connected"></span></div>
<div class="col-md-12 kz7">

<ul class="wt" style="padding-left:5px; margin-top:-5px; padding-bottom:5px;">
<li><i class="fa fa-check zm9"></i>Website Audit</li>
<li><i class="fa fa-check zm9"></i>Keyword Research</li>
<li><i class="fa fa-check zm9"></i>Competetive Analysis</li>
<li><i class="fa fa-check zm9"></i>Page Speed Optimization</li>
<li><i class="fa fa-check zm9"></i>Mobile Optimization</li>
<li><i class="fa fa-check zm9"></i>W3c Validation</li>
</ul>
</div>
</div>

<div class="col-md-4 wow bounceInLeft">
<a href="web_designing.html" title="web designing" class="btn" id="btn-blue">SEO Off-Page</a>
<div class="col-md-12  kz8">
<span><img class="img-responsive  center-block" src="images/sk2.png" alt="Best seo Agency,Leading seo Agency in Queensland"></span></div>
<div class="col-md-12 kz7">

<ul class="wt" style="padding-left:5px; margin-top:-5px; padding-bottom:5px;">
<li><i class="fa fa-check zm9"></i>Article Marketing</li>
<li><i class="fa fa-check zm9"></i>Blog Posting</li>
<li><i class="fa fa-check zm9"></i>Social Bookmarking</li>
<li><i class="fa fa-check zm9"></i>Blog Commenting</li>
<li><i class="fa fa-check zm9"></i>Forum Posting</li>
<li><i class="fa fa-check zm9"></i>Photo/Video Sharing</li>
</ul>
</div>
</div>

<div class="col-md-4 wow bounceInLeft">
<a href="web_designing.html" title="web designing" class="btn" id="btn-blue">Content Marketing</a>
<div class="col-md-12  kz8">
<span><img class="img-responsive  center-block" src="images/sk6.png" alt="#1 SEO Services @ 25$,Guaranteed SEO Improvements"></span></div>
<div class="col-md-12 kz7">

<ul class="wt" style="padding-left:5px; margin-top:-5px; padding-bottom:5px;">
<li><i class="fa fa-check zm9"></i>Targeting Audience</li>
<li><i class="fa fa-check zm9"></i>Company Profile</li>
<li><i class="fa fa-check zm9"></i>Technical Writing</li>
<li><i class="fa fa-check zm9"></i>Promotional Writing</li>
<li><i class="fa fa-check zm9"></i>SEO Content Writing</li>
<li><i class="fa fa-check zm9"></i>100% Unique & High Quality Content</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section> 
    

   <footer class="footer">
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-md-4 social">
                <h3 class="blue">Get in touch</h3>

<p>email : <a href="mailto:info@oceangroups.com.au" style="text-decoration:none;color:#A2A2A2;">info@oceangroups.com.au</a></p>
<p>Phone : (07) 3102 37 39 / 69</p>
<p class="blue">Office working hours</p>
<p>Monday to Friday - 10am to 7pm</p>
</address>

<ul>
<li> <a id="rotator1" target="_blank" href="https://www.facebook.com/OceanGroupsAus" title="Ocean Groups Facebook"> <img src="images/ocean_social_01.png" alt="Seo Service Provider,Improve Your Search Engine Ranking"> </a> </li>
<li> <a id="rotator2" target="_blank" href="https://twitter.com/OceanGroupsAu" title="Ocean Groups Twitter" > <img src="images/ocean_social_02.png" alt="Ocean Groups Twitter"> </a> </li>
<li> <a id="rotator3" target="_blank" href="https://plus.google.com/+OceangroupsAustralia" title="Ocean Groups Google Plus"> <img src="images/ocean_social_03.png" alt="Ocean Groups Google Plus"> </a> </li>
</ul>

                </div>
                <div class="col-md-4 hidden-xs">
                   <h3 class="blue">We serve</h3>
<ul class=" list-unstyled footer-link">
<li><a href="https://www.oceangroupsaustralia.com.au/NSW/" title="New South Wales"><span><img width="20" src="images/nsw.png" alt="New South Wales"></span>New South Wales</a></li>
<li><a href="#" title="Queensland"><span><img width="20" src="images/qld.png" alt="Queensland"></span>Queensland</a></li>
<li><a href="#" title="South Australia"><span><img width="20" src="images/sa.png" alt="South Australia"></span>South Australia</a></li>

</ul>
                </div>
<div class="col-md-4">
<h3 class="blue">Testimonial</h3>
<div id="tml-container">
    <p id="one">
    <span class="test">John</span><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p id="two"> <span class="test">Mark</span><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p id="three"> <span class="test">Lisa</span><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<a style="font-size:13px;" href="success_stories.html" title="More Success Stories">Read More</a>
<p style="padding-top:20px;"><span style="color:#FFF">ocean groups</span> © 2015. All Rights Reserved.</p>
<p>ABN: 89134891517 | ACN: 134891517</p>
<ul class="list-inline footer-link">
<li><a href="privacy.html" title="Privacy Policy">Privacy Policy</a></li>
<li><a href="terms_cond.html" title="Terms of Use">Terms of Use</a></li>
<li><a href="sitemap.html" title="Sitemap">Sitemap</a></li>
</ul>
<!-- testimonial footer animation -->

</div>
            </div>
        </div>
	    </footer>
        
        <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 879729667;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/879729667/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>