
<form>
<div class="skillset" id="holder">
<div class="header">
<div class="header1">
<span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
IT Skill
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
</div>
</div>


<div id="test">

<div class="form-group firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<label for="exampleInputFile" class="firstNameLabel">Skill/Software</label>
<input type="text"  placeholder="Enter your Software" class="sftwarefield" required>
</div>
</div>

<div class="form-group firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<label for="exampleInputFile" class="firstNameLabel">Version</label>
<input type="text"  placeholder="Enter Software version" class="sftwarefield" required>
</div>
</div>

<div class="form-group firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<label for="exampleInputFile" class="firstNameLabel">Last Used</label>
<select class="lastUsedfield">
<option>Last Used</option>
</select>
<span class="arrow1"></span>
</div>
</div>

<div class="form-group firstname">
<div class="align">
<label for="exampleInputFile" class="firstNameLabel">Total Experience</label><br>
<select class="yearfield">
<option>Year</option>
</select>
<span class="arrow"></span>
<select class="monthfield">
<option>Month</option>
</select>
<span class="arrow1"></span>
</div>
</div>

<div class="form-group">
<div>
<div class="remove">
<button type="button" class="btn btn-lg btn-block remove2"><i class="fa fa-trash trashicon" aria-hidden="true"></i>Remove this IT Skill</button>
</div>
</div>
</div>

<div class="help-block itskills">This will permanently remove these skill from your profile</div>

</div>
<div class="save">
<button type="button" class="btn btn-lg btn-block save2">Save</button>
</div>
</div>
</form>
