

<div class="jobAlertsMain">
<form>
<div class="header">
<div class="header1">
<span>
<a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Job Alerts
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>
</span>
</div>
</div>

<div class="skillsetDetails">
<div class="subjectcolor">Below mentioned are the details,on the basis of,which you will get the alerts 
and notifications. You can modify the details according to your skill set. </div>
</div>

<div class="jobalertDetails">
<div class="alertDetails">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Keywords
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
HTML
</div>
</div>
<div class="alertDetails">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Experience
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
4-5 Years
</div>
</div>

<div class="alertDetails">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Expected Salary
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
1 to 2 Lakhs/Year
</div>
</div>

<div class="alertDetails">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Location
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Bangalore/Bengaluru
</div>
</div>

<div class="alertDetails">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Industry
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Engineering Design
</div>
</div>

<div class="alertDetails">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Job Category
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
R & D
</div>
</div>

<div class="alertDetails">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Role
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
Design Engineer
</div>
</div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 modify">
<button type="button" class="btn btn-lg btn-block modify2" onclick="window.location.href='#/site/jobAlertsModify'">Modify</button>
</div>

<div class="matching">Jobs matching to your experience and expertise.</div>

<div class="alertJobs">
	<div class="col-xs-12 col-sm-12 col-md-12 col-padd">
	   <div class="col-xs-4 col-sm-4 col-md-4 col-padd">
			<div><img id="close" alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/jobs-dis.png" /></div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-padd ">
			<h5><span>Angular JS Developer -StartUp</span></h5>
			<h6><span>Harsha IT ventures</span></h6>
			<div class="jobalert_list">
				<ul>
				<li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Delhi/Gurgaon</li>
				<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>6 - 11 Years</li>
				<li><span><i class="fa fa-inr" aria-hidden="true"></i></span>9-11 Lakhs</li>
				<li><span><i class="fa fa-calendar" aria-hidden="true"></i></span>January 13,2016</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="alertJobs">
	<div class="col-xs-12 col-sm-12 col-md-12 col-padd">
	   <div class="col-xs-4 col-sm-4 col-md-4 col-padd">
			<div><img id="close" alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/jobs-dis.png" /></div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-padd ">
			<h5><span>Angular JS Developer -StartUp</span></h5>
			<h6><span>Harsha IT ventures</span></h6>
			<div class="jobalert_list">
				<ul>
				<li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Delhi/Gurgaon</li>
				<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>6 - 11 Years</li>
				<li><span><i class="fa fa-inr" aria-hidden="true"></i></span>9-11 Lakhs</li>
				<li><span><i class="fa fa-calendar" aria-hidden="true"></i></span>January 13,2016</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</form>
</div>


