

<div id="page-content">
<div class="menu-overlay"></div>
<ul class="menu">
<site-menu></site-menu>
</ul>
<div id="page-content2">
<div id="menu-overlay2"></div>
<ul id="menu2">

  <li id="heading">Sort By</li>
  <li><span class="rightspace"><input type="button" value="Relevance" id="relevance"><input type="button" id="freshness" value="Freshness"></span></li>
  
  <li><a id="menu-icon3" href="">Salary
  <span id="menu-toggle3" class="header-item">
  
  <i class="fa fa-angle-right filterByIcon" aria-hidden="true"></i>
  </span>
  </a>
  	
  </li>
  <li><a id="menu-icon7" href="" class="border">Location
  <span id="menu-toggle7" class="header-item">
  <i class="fa fa-angle-right filterByIcon" aria-hidden="true"></i>
  </span>
  </a></li>
  <li><a id="menu-icon6" href="" class="border">Freshness
  <span id="menu-toggle6" class="header-item">
  <i class="fa fa-angle-right filterByIcon" aria-hidden="true"></i>
  </span>
  </a></li>
  <li><a id="menu-icon5" href="" class="border">Role
  <span id="menu-toggle5" class="header-item">
  <i class="fa fa-angle-right filterByIcon" aria-hidden="true"></i>
  </span>
  </a></li>
  <li><a id="menu-icon4" href="" class="border">Education
  <span id="menu-toggle4" class="header-item">
  <i class="fa fa-angle-right filterByIcon" aria-hidden="true"></i>
  </span>
  </a></li>
  <li><a id="menu-icon8" href="" class="border">Function/Department
  <span id="menu-toggle8" class="header-item">
  <i class="fa fa-angle-right filterByIcon" aria-hidden="true"></i>
  </span>
  </a></li>
  <li><a id="menu-icon9" href="" class="border">Industry
  <span id="menu-toggle9" class="header-item">
  <i class="fa fa-angle-right filterByIcon" aria-hidden="true"></i>
  </span>
  </a></li>
  <li><a href="" class="border4">Employer<i class="fa fa-angle-right filterByIcon" aria-hidden="true"></i></a></li>
  <li>
<div class="alignbtns"><input type="button" value="Refine" id="refine"><input type="button" id="clear" value="Clear"></div>
 
  </li>
</ul>
<div id="page-content3">
<div id="menu-overlay3"></div>
<ul id="menu3">
  <li id="heading">Salary<img alt="login" class="filterByIcon" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-salary.png"></li>
  <li class="border"><span><label><a href="#">0-3 Lakh</a></label> <div class="squaredThree2">
      <input type="checkbox" value="check1" id="checkbox1" name="check"  />
      <label for="checkbox1"></label>
    </div></span></li>
       
  <li class="border"><span><label><a href="#">3-6 Lakh</a></label> <div class="squaredThree2">
      <input type="checkbox" value="check2" id="checkbox2" name="check"  />
      <label for="checkbox2"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">6-10 Lakh</a></label> <div class="squaredThree2">
      <input type="checkbox" value="check3" id="checkbox3" name="check"  />
      <label for="checkbox3"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#" >10-15 Lakh</a></label> <div class="squaredThree2">
      <input type="checkbox" value="check4" id="checkbox4" name="check"  />
      <label for="checkbox4"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">15-25 Lakh</a></label> <div class="squaredThree2">
      <input type="checkbox" value="check5" id="checkbox5" name="check"  />
      <label for="checkbox5"></label>
    </div></span></li>
  <li class="border2"><span><label><a href="#">30 Lakh</a></label> <div class="squaredThree2">
      <input type="checkbox" value="check6" id="checkbox6" name="check"  />
      <label for="checkbox6"></label>
    </div></span></li>
  <li class="aligndone"><input type="button" value="Done" id="done"></li>
</ul>

<div id="page-content4">
<div id="menu-overlay4"></div>
<ul id="menu4">
  <li id="heading">Education<img alt="login" class="filterByIcon" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-education.png"></li>
  <li class="border"><span><label><a href="#">B.Tech/B.E</a></label> <div class="squaredThree2">
      <input type="checkbox" value="option" id="inlineCheckbox" name="check"  />
      <label for="inlineCheckbox"></label>
    </div></span></li>
       
  <li class="border"><span><label><a href="#">Any Graduate</a></label> <div class="squaredThree2">
      <input type="checkbox" value="option1" id="inlineCheckbox1" name="check"  />
      <label for="inlineCheckbox1"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">Diploma</a></label> <div class="squaredThree2">
      <input type="checkbox" value="option2" id="inlineCheckbox2" name="check"  />
      <label for="inlineCheckbox2"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#" >Graduation Not Required</a></label> <div class="squaredThree2">
      <input type="checkbox" value="option3" id="inlineCheckbox3" name="check"  />
      <label for="inlineCheckbox3"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">BCA</a></label> <div class="squaredThree2">
      <input type="checkbox" value="option4" id="inlineCheckbox4" name="check"  />
      <label for="inlineCheckbox4"></label>
    </div></span></li>
  <li class="border2"><span><label><a href="#">B.Cs</a></label> <div class="squaredThree2">
      <input type="checkbox" value="option5" id="inlineCheckbox5" name="check"  />
      <label for="inlineCheckbox5"></label>
    </div></span></li>
  <li class="border2"><span><label><a href="#">B.A</a></label> <div class="squaredThree2">
      <input type="checkbox" value="option6" id="inlineCheckbox6" name="check"  />
      <label for="inlineCheckbox6"></label>
    </div></span></li>
	<li class="border2"><span><label><a href="#">Other Graduate</a></label> <div class="squaredThree2">
      <input type="checkbox" value="option7" id="inlineCheckbox7" name="check"  />
      <label for="inlineCheckbox7"></label>
    </div></span></li>
  <li class="aligndone"><input type="button" value="Done" id="done"></li>
</ul>
<div id="page-content5">
<div id="menu-overlay5"></div>
<ul id="menu5">
  <li id="heading">Role<img alt="login" class="filterByIcon" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-role.png"></li>
  <li class="border"><span><label><a href="#">QA/Testing/Documentation</a></label> <div class="squaredThree2">
      <input type="checkbox" value="option" id="role1" name="check"  />
      <label for="role1"></label>
    </div></span></li>
       
  <li class="border"><span><label><a href="#">Technical Writer</a></label> <div class="squaredThree2">
      <input type="checkbox" value="writer" id="role2" name="check"  />
      <label for="role2"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">Designer</a></label> <div class="squaredThree2">
      <input type="checkbox" value="designer" id="role3" name="check"  />
      <label for="role3"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#" >Apparel/Garment Designer</a></label> <div class="squaredThree2">
      <input type="checkbox" value="garment" id="role4" name="check"  />
      <label for="role4"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">Jewellery</a></label> <div class="squaredThree2">
      <input type="checkbox" value="jewellery" id="role5" name="check"  />
      <label for="role5"></label>
    </div></span></li>
  <li class="border2"><span><label><a href="#">Programming & Design</a></label> <div class="squaredThree2">
      <input type="checkbox" value="programming" id="role6" name="check"  />
      <label for="role6"></label>
    </div></span></li>
  <li class="border2"><span><label><a href="#">Software Developer</a></label> <div class="squaredThree2">
      <input type="checkbox" value="developer" id="role7" name="check"  />
      <label for="role7"></label>
    </div></span></li>
	<li class="border2"><span><label><a href="#">Graphic/Web Designer</a></label> <div class="squaredThree2">
      <input type="checkbox" value="graphic" id="role8" name="check"  />
      <label for="role8"></label>
    </div></span></li>
	<li class="border2"><span><label><a href="#">Content Developer</a></label> <div class="squaredThree2">
      <input type="checkbox" value="content" id="role9" name="check"  />
      <label for="role9"></label>
    </div></span></li>
	<li class="border2"><span><label><a href="#">Web Master</a></label> <div class="squaredThree2">
      <input type="checkbox" value="web" id="role10" name="check"  />
      <label for="role10"></label>
    </div></span></li>
  <li class="aligndone"><input type="button" value="Done" id="done"></li>
</ul>

<div id="page-content6">
<div id="menu-overlay6"></div>
<ul id="menu6">
  <li id="heading">Freshness<img alt="login" class="filterByIcon" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-role.png"></li>
  <li class="border"><span><label><a href="#">1 Day Old</a></label> <div class="squaredThree2">
      <input type="checkbox" value="one" id="day1" name="check"  />
      <label for="day1"></label>
    </div></span></li>
       
  <li class="border"><span><label><a href="#">3 Day Old</a></label> <div class="squaredThree2">
      <input type="checkbox" value="three" id="day3" name="check"  />
      <label for="day3"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">5 Day Old</a></label> <div class="squaredThree2">
      <input type="checkbox" value="five" id="day5" name="check"  />
      <label for="day5"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#" >7 Day Old</a></label> <div class="squaredThree2">
      <input type="checkbox" value="seven" id="day7" name="check"  />
      <label for="day7"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">9 Day Old</a></label> <div class="squaredThree2">
      <input type="checkbox" value="nine" id="day9" name="check"  />
      <label for="day9"></label>
    </div></span></li>
  <li class="border2"><span><label><a href="#">11 Day Old</a></label> <div class="squaredThree2">
      <input type="checkbox" value="eleven" id="day11" name="check"  />
      <label for="day11"></label>
    </div></span></li>
  <li class="border2"><span><label><a href="#">13 Day Old</a></label> <div class="squaredThree2">
      <input type="checkbox" value="thirteen" id="day13" name="check"  />
      <label for="day13"></label>
    </div></span></li>
	<li class="border2"><span><label><a href="#">15 Day Old</a></label> <div class="squaredThree2">
      <input type="checkbox" value="fifteen" id="day15" name="check"  />
      <label for="day15"></label>
    </div></span></li>
	
  <li class="aligndone"><input type="button" value="Done" id="done"></li>
</ul>


<div id="page-content7">
<div id="menu-overlay7"></div>
<ul id="menu7">
  <li id="heading">Location<img alt="login" class="filterByIcon" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-role.png"></li>
  <li class="border"><span><label><a href="#">Bengaluru</a></label> <div class="squaredThree2">
      <input type="checkbox" value="bengaluru" id="bengaluru" name="check"  />
      <label for="bengaluru"></label>
    </div></span></li>
       
  <li class="border"><span><label><a href="#">Chennai</a></label> <div class="squaredThree2">
      <input type="checkbox" value="chennai" id="chennai" name="check"  />
      <label for="chennai"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">Hyderabad</a></label> <div class="squaredThree2">
      <input type="checkbox" value="hyderabad" id="hyderabad" name="check"  />
      <label for="hyderabad"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#" >Delhi</a></label> <div class="squaredThree2">
      <input type="checkbox" value="delhi" id="delhi" name="check"  />
      <label for="delhi"></label>
    </div></span></li>
  <li class="border"><span><label><a href="#">Pune</a></label> <div class="squaredThree2">
      <input type="checkbox" value="pune" id="pune" name="check"  />
      <label for="pune"></label>
    </div></span></li>
  <li class="border2"><span><label><a href="#">Mumbai</a></label> <div class="squaredThree2">
      <input type="checkbox" value="mumbai" id="mumbai" name="check"  />
      <label for="mumbai"></label>
    </div></span></li>
  <li class="border2"><span><label><a href="#">Noida</a></label> <div class="squaredThree2">
      <input type="checkbox" value="noida" id="noida" name="check"  />
      <label for="noida"></label>
    </div></span></li>
	<li class="border2"><span><label><a href="#">Kolkata</a></label> <div class="squaredThree2">
      <input type="checkbox" value="kolkata" id="kolkata" name="check"  />
      <label for="kolkata"></label>
    </div></span></li>
	
  <li class="aligndone"><input type="button" value="Done" id="done"></li>
</ul>

<div id="page-content8">
<div id="menu-overlay8"></div>
<ul id="menu8">
  <li id="heading">Function/Department<img alt="login" class="filterByIcon" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-role.png"></li>
  <li class="border3"><span><label><a href="#" class="removepadding">IT Software-Application<br> Programming,Maintenance</a></label> <div class="squaredThree">
      <input type="checkbox" value="application" id="application" name="check"  />
      <label for="application"></label>
    </div></span></li>
       
  <li class="border3"><span><label><a href="#" class="removepadding">Design,Creative,<br>User Experience</a></label> <div class="squaredThree">
      <input type="checkbox" value="creative" id="creative" name="check"  />
      <label for="creative"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding">IT Software-eCommerce,<br>Internet Technologies</a></label> <div class="squaredThree">
      <input type="checkbox" value="technologies" id="technologies" name="check"  />
      <label for="technologies"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding" >IT Software-Other</a></label> <div class="squaredThree">
      <input type="checkbox" value="other" id="other" name="check"  />
      <label for="other"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding">IT Software-Mobile</a></label> <div class="squaredThree">
      <input type="checkbox" value="mobile" id="mobile" name="check"  />
      <label for="mobile"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding">IT Software-System<br> Programming </a></label> <div class="squaredThree">
      <input type="checkbox" value="system" id="system" name="check"  />
      <label for="system"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding">Sales,Retail,Buisness <br>Development</a></label> <div class="squaredThree">
      <input type="checkbox" value="buisness" id="buisness" name="check"  />
      <label for="buisness"></label>
    </div></span></li>
	<li class="border3"><span><label><a href="#" class="removepadding">Other</a></label> <div class="squaredThree">
      <input type="checkbox" value="other2" id="other2" name="check"  />
      <label for="other2"></label>
    </div></span></li>
	
  <li class="aligndone"><input type="button" value="Done" id="done"></li>
</ul>

<div id="page-content9">
<div id="menu-overlay9"></div>
<ul id="menu9">
  <li id="heading">Industry<img alt="login" class="filterByIcon" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-role.png"></li>
  <li class="border3"><span><label><a href="#" class="removepadding">Advertising/PR/MR/<br>Event Management</a></label> <div class="squaredThree">
      <input type="checkbox" value="event" id="event" name="check"  />
      <label for="event"></label>
    </div></span></li>
       
  <li class="border3"><span><label><a href="#" class="removepadding">IT Software/Software Services</a></label> <div class="squaredThree">
      <input type="checkbox" value="services" id="services" name="check"  />
      <label for="services"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding">Internet/Ecommerce</a></label> <div class="squaredThree">
      <input type="checkbox" value="internet" id="internet" name="check"  />
      <label for="internet"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding" >Recruitment/Staffing</a></label> <div class="squaredThree">
      <input type="checkbox" value="staffing" id="staffing" name="check"  />
      <label for="staffing"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding">Banking/Financial <br> Services/Broking</a></label> <div class="squaredThree">
      <input type="checkbox" value="broking" id="broking" name="check"  />
      <label for="broking"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding">BPO/Call Center/ITES</a></label> <div class="squaredThree">
      <input type="checkbox" value="BPO" id="BPO" name="check"  />
      <label for="BPO"></label>
    </div></span></li>
  <li class="border3"><span><label><a href="#" class="removepadding">Real Estate/Property</a></label> <div class="squaredThree">
      <input type="checkbox" value="property" id="property" name="check"  />
      <label for="property"></label>
    </div></span></li>
	<li class="border3"><span><label><a href="#" class="removepadding">Telecom/ISP</a></label> <div class="squaredThree">
      <input type="checkbox" value="telecom" id="telecom" name="check"  />
      <label for="telecom"></label>
    </div></span></li>
	<li class="border3"><span><label><a href="#" class="removepadding">KPO/Research/Analytics</a></label> <div class="squaredThree">
      <input type="checkbox" value="analytics" id="analytics" name="check"  />
      <label for="analytics"></label>
    </div></span></li>
	<li class="border3"><span><label><a href="#" class="removepadding">Other</a></label> <div class="squaredThree">
      <input type="checkbox" value="other3" id="other3" name="check"  />
      <label for="other3"></label>
    </div></span></li>
  <li class="aligndone"><input type="button" value="Done" id="done"></li>
</ul>
<form>
<div class="jobsFound" id="holder">

<div class="header">
<div class="header1">
<span>
 <span id="menu-toggle" class="header-item">
    <a class="link-btn side-nav-btn menu-icon">
	<i class="fa fa-bars" id="setdecoration" aria-hidden="true"></i>
	</a>
 </span>
<span>Jobs Found</span>
<span id="menu-toggle2" class="header-item">
<a id="menu-icon2" class="link-btn side-nav-btn"><i id="filter" class="fa fa-filter"></i></a>
</span>	
</span>
</div>
</div>

<div class="daysBtns">
<div class="col-xs-2 col-sm-2 col-md-2 modify removepad">
<button type="button" class="modifybtn" onclick="window.location.href='#/site/jobSearch'">Modify</button>
</div>
<div class="col-xs-10 col-sm-10 col-md-10 designation removepad">
<div class="designationbtn">"Sales Manger,Marketion Manager,Sales"</div>
</div>
</div>

<div class="container" id="test">

<div class="col-xs-12 col-sm-12 col-md-12 selectjobs">
<div class="checkbox checkbox-inline">
<input type="checkbox" name="jobtitle" id="jobs1" value="jobs1">
<label for="jobs1" class="jobstitlelink">Urgent Job UI Designer-E-Commerce Health and wellness StartUp</label>
<div class="company">Sitara Service Pvt Limited</div>
<span class="expYears"><i class="fa fa-suitcase"></i>3-5 Years<i class="fa fa-star"></i></span><br>
<span class="place"><i class="fa fa-map-marker"></i>Bangalore</span><br>
</div> 
</div>

<div class="col-xs-12 col-sm-12 col-md-12 selectjobs">
<div class="checkbox checkbox-inline">
<input type="checkbox" name="jobtitle" id="jobs2" value="jobs2">
<label for="jobs2" class="jobstitlelink">Urgent Job UI Designer-E-Commerce Health and wellness StartUp Urgent Job UI Designer-E-Commerce Health and wellness StartUp</label>
<div class="company">Sitara Service Pvt Limited</div>
<span class="expYears"><i class="fa fa-suitcase"></i>3-5 Years<i class="fa fa-star"></i></span><br>
<span class="place"><i class="fa fa-map-marker"></i>Bangalore</span><br>
</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 selectjobs">
<div class="checkbox checkbox-inline">
<input type="checkbox" name="jobtitle" id="jobs3" value="jobs3">
<label for="jobs3" class="jobstitlelink">Urgent Job UI Designer-E-Commerce Health and wellness StartUp</label>
<div class="company">Sitara Service Pvt Limited</div>
<span class="expYears"><i class="fa fa-suitcase"></i>3-5 Years<i class="fa fa-star"></i></span><br>
<span class="place"><i class="fa fa-map-marker"></i>Bangalore</span><br>
</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 selectjobs">
<div class="checkbox checkbox-inline">
<input type="checkbox" name="jobtitle" id="jobs4" value="jobs4" >
<label for="jobs4" class="jobstitlelink">Urgent Job UI Designer-E-Commerce Health and wellness StartUp</label>
<div class="company">Sitara Service Pvt Limited</div>
<span class="expYears"><i class="fa fa-suitcase"></i>3-5 Years<i class="fa fa-star"></i></span><br>
<span class="place"><i class="fa fa-map-marker"></i>Bangalore</span><br>
</div>
</div>

</div>
<div class="search">
<button type="button" class="btn btn-lg btn-block search2">Save this Search as an Alert</button>
</div>
</div>
</form>
</div>
<script src="assets/js/jobsFound.js"></script>
