<li><div class="logo_slide">
<a href="#/site/index"><img src="https://takeajob.s3.amazonaws.com/assets/app-images/app-logo_black.png" class="img-responsive center-block" alt="Take A job" title="Take A job">
			</a></div></li>
  
  
  <li ng-show=accesstoken><a href="#/jobseeker/login" class="border">
  <i class="fa fa-search menuicon" aria-hidden="true"></i>Login<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li ng-show=accesstoken><a href="#/jobseeker/register" class="border">
  <i class="fa fa-building menuicon" aria-hidden="true"></i>Register<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li><a href="#/site/jobSearch" class="border">
  <i class="fa fa-search menuicon" aria-hidden="true"></i>Search Job<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li ng-hide=accesstoken><a href="#/company/companylisting" class="border">
  <i class="fa fa-building menuicon" aria-hidden="true"></i>Search By Company<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li ng-hide=accesstoken><a href="#/site/settings" class="border">
  <i class="fa fa-gear menuicon" aria-hidden="true"></i>Settings<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li ng-hide=accesstoken><a href="#/site/save" class="border">
  <i class="fa fa-suitcase menuicon" aria-hidden="true"></i>Saved Jobs<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
   <li ng-hide=accesstoken><a href="#/jobalert/joblist" class="border">
  <i class="fa fa-suitcase menuicon" aria-hidden="true"></i>Job Alerts<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li ng-hide=accesstoken><a href="#/site/appliedJobs" class="border">
  <i class="fa fa-check-square menuicon" aria-hidden="true"></i>Applied Jobs<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li ng-hide=accesstoken><a href="#/messagingsystem/inbox" class="border">
  <i class="fa fa-envelope menuicon" aria-hidden="true"></i>Inbox<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li ng-hide=accesstoken><a href="#/messagingsystem/sent" class="border">
  <i class="fa fa-paper-plane menuicon" aria-hidden="true"></i>Sent<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li><a href="#/site/aboutus" class="border">
  <i class="fa fa-users menuicon" aria-hidden="true"></i>About Us<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
   <li><a href="#/site/contactus" class="border">
   <i class="fa fa-phone menuicon" aria-hidden="true"></i>Contact Us<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li><a href="#/site/faq" class="border">
  <i class="fa fa-question-circle  menuicon" aria-hidden="true"></i>FAQs<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>