<li><div class="logo_slide">
<a href="#/site/index"><img src="assets/images/app-logo_black.png" class="img-responsive center-block" alt="Take A job" title="Take A job">
			</a></div></li>
  

  <li><a href="#/site/login" class="border">
  <i class="fa fa-search menuicon" aria-hidden="true"></i>Login<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li><a href="#/jobseeker/register" class="border">
  <i class="fa fa-building menuicon" aria-hidden="true"></i>Register<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li><a href="#/site/jobSearch" class="border">
  <i class="fa fa-building menuicon" aria-hidden="true"></i>Search Jobs<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li><a href="#/site/aboutus" class="border">
  <i class="fa fa-users menuicon" aria-hidden="true"></i>About Us<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>
  <li><a href="#/site/faq" class="border">
  <i class="fa fa-question-circle  menuicon" aria-hidden="true"></i>FAQs<i class="fa fa-angle-right arrow" aria-hidden="true"></i></a></li>