

    

    <div class="complete_your_profile">
        <form>

            <div class="complete_your_profile_head">
                <div class="col-xs-12 col-sm-12 col-md-12 complete_your_profile_inner">
                    <span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
					More Details
					<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
                </div>
            </div>

            <div id="test">
                <div class="container-fluid">

                    <div class="form-group">
                        <div class="row firstname ">
                            <div class="col-md-12">
                                <label class="firstNameLabel">Languages Known</label>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-padd_right">
                                <select class="form-control">
                                    <option>Languages</option>
                                </select>
                                <span class="arrow_date"></span>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4  col-padd_mid">
                                <select class="form-control">
                                    <option>Proficiency</option>
                                </select>
                                <span class="arrow_date"></span>
                            </div>

                            <div class="col-xs-1 col-sm-1 col-md-1 col-padd">

                                <div class="read_icon"><img alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/0111.png" /></div>
                                <div class="checkbox checkbox-inline">
                                    <input type="checkbox" class="stylecheckbox" value="option8">
                                    
                                    
									
                                </div>
                            </div>

                            <div class="col-xs-1 col-sm-1 col-md-1 col-padd">
                                <div class="read_icon"><img alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/0222.png" /></div>

                                <div class="checkbox checkbox-inline">
                                    <input type="checkbox" class="stylecheckbox" value="option9">
                                   
                                </div>
                            </div>

                            <div class="col-xs-1 col-sm-1 col-md-1 col-padd">
                                <div class="read_icon"><img alt="close" src="https://takeajob.s3.amazonaws.com/assets/app-images/0333.png" /></div>
                                <div class="checkbox checkbox-inline">
                                    <input type="checkbox" class="stylecheckbox" value="option10">
                                   
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-padd">
                                <div class="trash_delet">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 add_btn">
                                <label class="firstNameLabel">Technical Skill Set</label>
                                <button type="button" class="btn btn-lg btn-block add_btn_inner"><span><i class="fa fa-plus add_plus" aria-hidden="true"></i></span>Add More Languages</button>
                            </div>
                        </div>
                    </div>
                    <label class="firstname_label">Desired Job Information</label>
                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Job Type</label>
                                <fieldset>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-padd ">
                                        <div class="checkbox checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1" checked="">
                                            <label for="inlineCheckbox1" class="firstNameLabel">Permanent</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-padd">
                                        <div class="checkbox checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox2" value="option1">
                                            <label for="inlineCheckbox2" class="firstNameLabel">Temporary/Contractual</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Employment Type</label>
                                <fieldset>
                                    <div class="col-md-12 col-padd">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox3" value="option3" checked="">
                                                <label for="inlineCheckbox3" class="firstNameLabel">Full Time</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox4" value="option4">
                                                <label for="inlineCheckbox4" class="firstNameLabel">Part Time</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-padd">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox5" value="option5">
                                                <label for="inlineCheckbox5" class="firstNameLabel">Freelance</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox6" value="option6">
                                                <label for="inlineCheckbox6" class="firstNameLabel">Contractual</label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <label class="firstname_label">Affirmative Action</label>
                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Categories</label>
                                <select class="form-control">
                                    <option>Select </option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Physically Challenged</label>
                                <fieldset>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                            <label for="radio1" class="label_radio_text">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                            <label for="radio2" class="label_radio_text">
                                                Yes
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    </div>

                    <label class="firstname_label">Work Authorization</label>
                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Work Categories</label>
                                <select class="form-control">
                                    <option>Select </option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Other Countries</label>
                                <select class="form-control">
                                    <option>Select </option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
			
			
	<div class="save">
<button type="button" class="btn btn-lg btn-block save2">Submit</button>
</div>		
			
			
			
			
        </form>
    </div>

