<link href="assets/css/otpverification.css" rel="stylesheet" type="text/css">


<div class="loginbtn">
<div class="login1">

<span>
<a href="" ng-click="closepage()"><img  alt="previous" id="previous" src="assets/images/previous.png"/></a>
OTP Verification
<a href="" ng-click="closepage()"><img  id="close" alt="close" src="assets/images/close.png"/></a>
</span>
</div>
</div>

<div class="otpText">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<div class="otpText2">Your Security is Our Priority,Please Enter Your One Time Password </div>

</div>
</div>

<div class="firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<div class="firstNameLabel">Phone Number Verification:</div>
<img class="otp" alt="otp" src="assets/images/otp.png"/>
<input type="text"  placeholder="Enter OTP" class="keywordsfield" required>
</div>
</div>


<div class="row2">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn submit" onclick="window.location.href='#/site/completeProfile'">Submit</button>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn generate">Generate OTP</button>
</div>
</div>
