

<div class="photograph" id="holder">
<form>
<div class="container-fluid">
<div class="photograph_head">
<div class="col-xs-12 col-sm-12 col-md-12 photograph_inner">
<span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Photograph<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
</div>
</div>
<div id="test">



<div class="profile_container"><img alt="close" class="prifile_img" src="https://takeajob.s3.amazonaws.com/assets/app-images/profile.png"/>

					<div class="input-group">
						<div class="input-group-btn "> 
						<div class="upload_bt">
							<input type="file" class="upload_btimg" accept="image/png, image/jpeg, image/gif"/>
							</div>
							<!-- rename it --> 
						</div> </div>

</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 fotter_text">
<h6>Support, <b>JPEG. JPG, PNG, GIF,</b> Max size 10Kb
<br>
<a>terms of service</a></h6>
</div>
</div>


<div class="form-group">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 remove">
<button type="button" class="btn btn-lg btn-block remove2"><i class="fa fa-trash trashicon" aria-hidden="true"></i>Remove</button>
</div>
</div>
</div>


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 fotter_text">
<p>Profile with photos has 40% higher chances to get noticed by employer</p>
</div>
</div>
</div>
</div>
<div class="save">
<button type="button" class="btn btn-lg btn-block save2">Save</button>
</div>


</form>
</div>
