

<div id="holder" class="profileMenu">
<div id="page-content">

<div class="menu-overlay"></div>
<ul class="menu">
<site-menu></site-menu>
</ul>
<div id="page-contentProfile">

<div id="menu-overlayProfile"></div>
<div id="menuProfile">
<div id="profile">
<table class="profileDetails">
<tr>
<td>
<a href="#/site/viewprofile"><img alt="photo" class="setmarginleft" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-photo.png"></a>
<div class="setleftmargin3">80%</div>
</td>

<td><div class="setleftmargin3">Your Name</div>
<div class="setleftmargin3">Designation</div>
<div class="setleftmargin3">Last Updated on 15-03-2016</div>
</td>
</tr>
</table>
</div>
 <div class="scrollmenu">
<div class="border3">
  <a href="">
  <img class="setimgspace2 profile-menu" alt="workExperience" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-workExperience.png"></a>
  <a href="#/employerordesignation/workexperience" class="">Work Experience<div class="setleftmargin">Project Manager</div>
  </a>
 </div> 
 
 <div class="border3">
  <a href="">
  <img class="setimgspace profile-menu" alt="contact" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-contact.png"></a>
  <a href="#/site/contactDetails" class="">Contact Details<div class="setleftmargin2">Update Contact Details</div></a>
  </div>
  <div class="border3">
  <a href="">
  <img class="setimgspace profile-menu" alt="resume2" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-resume2.png"></a>
  <a href="#/site/uploadResume" class="">Upload Resume<div class="setleftmargin2">Resume.pdf</div></a>
  </div>
  <div class="border3">
  <a href="">
  <img class="setimgspace profile-menu" alt="education2" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-education2.png"></a>
  <a href="#/site/educationlink" class="">Education<div class="setleftmargin2">Add Education</div></a>
  </div>
  <div class="border3">
  <a href="">
  <img class="setimgspace profile-menu" alt="itskills" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-itskills.png"></a>
  <a href="#/itskills/skillset" class="">Skill set<div class="setleftmargin2">Update IT Skills</div></a>
  </div>
  <div class="border3">
  <a href="">
  <img class="setimgspace profile-menu" alt="projects" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-projects.png"></a>
  <a href="#/project/addProject" class="">Projects<div class="setleftmargin2">Update Projects</div></a>
  </div>
 
 <div class="border3">
 <a href="">
 <img class="setimgspace profile-menu" alt="languages" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-languages.png"></a>
 <a href="#/moredetails/more_details" class="">More Details<div class="setleftmargin2">Update Languages</div></a>
  </div>
  <div class="border3">
  <a href="">
  <img class="setimgspace profile-menu" alt="languages" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-summary.png"></a>
  <a href="#/summary/profilesummary" class="">Summary<div class="setleftmargin2">Update Summary</div></a>
  </div>
  <div class="border3">
  <a href="">
  <img class="setimgspace profile-menu" alt="languages" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-coverLetter.png"></a>
  <a href="#/coverletter/createcoverletter" class="">Manage Cover Letters<div class="setleftmargin2">Update Cover Letters</div></a>
  </div>
  <div class="border3">
  <a href="">
  <img class="setimgspace profile-menu" alt="keyskill" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-snapshot.png"></a>
  <a href="#/snapshot/create-or-update" class="">Snapshot<div class="setleftmargin2">Update Snapshot</div></a>
</div>
  </div>
</div>

<div class="Menu">
<div class="col-xs-12 col-sm-12 col-md-12 profileMenu1">
<span>
<span id="menu-toggle" class="header-item">
    <a class="link-btn side-nav-btn menu-icon">
	<i class="fa fa-bars" id="setdecoration" aria-hidden="true"></i>
	</a>
 </span>
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>

</span>
</div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 removepad">
<section class="search">
<span class="setspace"><input type="text" placeholder="Search Job" class="seachJob" id="oldpwd"><label class="fa fa-search searchicon" title="Name"></label></span>
</section>
<div class="box-a">
	<span class="jobs">Jobs</span>
	<div class="jobs4"><img class="jobsimg" alt="jobs" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-jobs.png"><span class="count">0</span></div>
	<div class="jobs3">Jobs for you Live connection</div>
</div>
<div class="box-b" onclick="window.location.href='#/site/inbox'">
	<div class="jobs"><img class="mailimg" alt="mail" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-mail.png"><span class="count">0</span></div>
	<div class="jobs2">Recruitment Message</div>
</div>
<div class="box-c" onclick="window.location.href='#/site/profileperformance'">
	<div class="jobs"><img class="viewimg" alt="view" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-view.png"><span class="count">0</span></div>
	<div class="jobs2">Profile View</div>
</div>

</div>




</div>
</div>
 </div> 