

<div id="holder">
<form>
<div class="container-fluid">
<div class="profilesummary">
<div class="col-xs-12 col-sm-12 col-md-12 profilesummary1">
<span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Profile Summary
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
</div>
</div>
<div id="test">



<div class="form-group ">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
  <label class="firstNameLabel">Profile Summary</label>
  <textarea class="form-control" rows="5" id="comment" placeholder="Describe Your Job Profile" ></textarea>
  <div class="count_text">0/250</div>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 fotter_text">
<p>Write about yourself straight and sharp to grab the eye of the employer any how it is optional for you    </p>
</div>
</div>
</div>
</div>
<div class="save">
<button type="button" class="btn btn-lg btn-block save2">Save</button>
</div>


</form>
</div>
