

<div class="profilePerformance" id="holder">
<div class="header">
<div class="header1">
<span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Profile Performance
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
</div>
</div>
<div class="savecustombtn">
<div class="col-xs-4 col-sm-4 col-md-4 views removepad">

<button type="button" class="btn viewsbtn"><span class="viewstext">0</span><br>Views</button>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 download removepad">

<button type="button" class="btn downloadbtn"><span class="viewstext">4</span><br>Downloads</button>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 contact removepad">

<button type="button" class="btn contactbtn"><span class="viewstext">0</span><br>Contacted</button>
</div>
</div>
<div id="test">



<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<span><img id="inbox" alt="inbox" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-inbox.png"/></span>
<span class="firstNameLabel"><a href="#">DS -MAX Propoetied Pvt Ltd</a><span class="dateposted">18 may 2016</span></span>
<div for="exampleInputFile" class="firstNameLabel2">Job|Urgent Openings for SMO</div>

</div>
</div>
<hr></hr>


<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<span><img id="inbox" alt="inbox" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-inbox.png"/></span>
<span for="exampleInputFile" class="firstNameLabel"><a href="#">KPMG</a><span class="dateposted">18 may 2016</span></span>
<div for="exampleInputFile" class="firstNameLabel2">Job|Opening for UI Designer</div>
</div>
</div>
<hr></hr>

<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<span><img id="inbox" alt="inbox" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-inbox.png"/></span>
<span for="exampleInputFile" class="firstNameLabel"><a href="#">KPMG</a><span class="dateposted">18 may 2016</span></span>
<div for="exampleInputFile" class="firstNameLabel2">Job|Opening for UI Designer</div>
</div>
</div>
<hr></hr>

<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<span><img id="inbox" alt="inbox" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-inbox.png"/></span>
<span for="exampleInputFile" class="firstNameLabel"><a href="#">KPMG</a><span class="dateposted">18 may 2016</span></span>
<div for="exampleInputFile" class="firstNameLabel2">Job|Opening for UI Designer</div>
</div>
</div>
<hr></hr>

<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<span><img id="inbox" alt="inbox" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-inbox.png"/></span>
<span class="firstNameLabel"><a>DS -MAX Propoetied Pvt Ltd</a href="#"><span class="dateposted">18 may 2016</span></span>
<div for="exampleInputFile" class="firstNameLabel2">Job|Urgent Openings for SMO</div>
</div>
</div>
<hr></hr>

<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<span><img id="inbox" alt="inbox" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-inbox.png"/></span>
<span class="firstNameLabel"><a>DS -MAX Propoetied Pvt Ltd</a href="#"><span class="dateposted">18 may 2016</span></span>
<div for="exampleInputFile" class="firstNameLabel2">Job|Urgent Openings for SMO</div>
</div>
</div>
<hr></hr>

<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<span><img id="inbox" alt="inbox" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-inbox.png"/></span>
<span class="firstNameLabel"><a>DS -MAX Propoetied Pvt Ltd</a href="#"><span class="dateposted">18 may 2016</span></span>
<div for="exampleInputFile" class="firstNameLabel2">Job|Urgent Openings for SMO</div>
</div>
</div>
<hr></hr>

</div>

</div>
