
<form>

<div class="recruiterMessage">
<div class="header">
<div class="header1">
<span>
<a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Recruiter Messages
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>
</span>
</div>
</div>

<div class="recruiterDetails">
<div class="headercolor">TekShapers</div>
<p class="subjectcolor">Job | Urgent requirement for "java Developer" for Bnaglore Location</p>
<div class="subjectcolor">14 Jul,2016</div>
</div>

<div id="messageDetails">

Dated _________
Name of the candidate
Address _________
________________
Dear Mr./Ms.______,
This has reference to your application, indicating interest in seeking employment with our company. We thank you for the same. We would like to personally meet you for a discussion on ___________ at __________ at the following address: _____________________________________________________________________________
We hope this time and venue is suitable to you. If it is not, we request you to get in touch with Mr._________ indicating suitable date and time for the same.
The company will reimburse you the expenses incurred by you for this meeting. As per our guidelines, you will be entitled to 2nd class A.C. to and fro train fare / Y class airfare.
We are enclosing our company application form and request you to fill the same and bring it along with you when you come for this visit. This will facilitate the interview process.
To help us co-ordinate this meeting effectively, we request you to confirm to us your availability for this meeting either by fax or on phone. Our fax no. is ___________ and our board telephone no. is ___________. Kindly ask for Mr. ________ who will be your contact person throughout the process.
We look forward to meeting you.
Kind Regards,

Name of the Manager
Designation


</div>

<div class="submit">
<input type="submit" class="btn btn-lg btn-block submit2" onclick="window.location.href='#/site/reply'" value="Relpy to Message" >
</div>

</div>
</form>

