<link href="assets/css/workExperience.css" rel="stylesheet" type="text/css">


<div id="page-content">
<div id="menu-overlay"></div>
<ul id="menu">
<li><div class="logo_slide"><img src="assets/images/logo_white.png" class="img-responsive center-block" alt="Take A job" title="Take A job">
			</div></li>
  <li><a href="#/site/login" class="border">Login<img alt="login" class="login" src="assets/images/login.png"></a></li>
  <li><a href="#/site/register" class="border">Register<img alt="register" class="login" src="assets/images/register.png"></a></li>
  <li><a href="#/site/jobSearch" class="border">Search Job<img alt="search" class="login" src="assets/images/search.png"></a></li>
  <li><a href="#/company/companylisting" class="border">Search By Company<img alt="search" class="login" src="assets/images/search.png"></a></li>
  <li><a href="#/job/joblisting" class="border">Search By Job<img alt="search" class="login" src="assets/images/search.png"></a></li>
  <li><a href="#/site/settings" class="border">Settings<img alt="aboutus" class="login" src="assets/images/settingsicon.png"></a></li>
  <li><a href="#/site/recommended" class="border">Jobs for You<img alt="aboutus" class="login" src="assets/images/jobsforyou.png"></a></li>
  <li><a href="#/site/inbox" class="border">Inbox<img alt="aboutus" class="login" src="assets/images/inboxmenuicon.png"></a></li>
  <li><a href="#/site/aboutus" class="border">About Us<img alt="aboutus" class="login" src="assets/images/inboxmenuicon.png"></a></li>
   <li><a href="#/site/contactus" class="border">Contact Us<img alt="aboutus" class="login" src="assets/images/inboxmenuicon.png"></a></li>
  <li><a href="#/site/faq" class="border">FAQs<img alt="aboutus" class="login" src="assets/images/inboxmenuicon.png"></a></li>
</ul>
<div class="register_more_details" id="holder">
<form>
<div class="register_more_details_head">
<div class="col-xs-12 col-sm-12 col-md-12 register_more_details_inner">
<span id="menu-toggle" class="header-item">
    <a id="menu-icon" class="link-btn side-nav-btn menu_icon">
	<img alt="menuicon" id="setdecoration" src="assets/images/icon_main.png"/>
	</a>
 </span>
<span>Register More Details<a href="" ng-click="closepage()"><img id="close" alt="close" src="assets/images/close.png"/></a></span>
</div>
</div>
<div id="test">
<div class="container-fluid">

<p>To Complete the Registration Process, 
Please fill in the given fields</p>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Current Industry</label>
<select class="form-control">
<option>Select Industry</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Functional Area</label>
<select class="form-control">
<option>Select Functional Area</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Role</label>
<select class="form-control">
<option>Select Role</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Preferred Location</label>
<input type="text"  placeholder="Select Preferred Location" class="form-control" required>
</div>
</div>
</div>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Skills</label>
<input type="text"  placeholder="Please add your skill" class="form-control" required>
</div>
</div>
</div>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Experience</label>
<select class="form-control">
<option>Select Experience</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Highest Qualification</label>
<select class="form-control">
<option>Select Qualification</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>
<label class="firstNameLabel">Contact Details</label>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-6 col-sm-6 col-md-6 col-padd_right">
<label class="firstNameLabel">State</label>
<select class="form-control">
<option>Select State</option>
</select>
<span class="arrow"></span>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 col-padd_left">
<label class="firstNameLabel">City</label>
<select class="form-control">
<option>Select City</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>
<div class="form-group">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Area</label>
<select class="form-control">
<option>Select Area</option>
</select>
<span class="arrow"></span>
</div>
</div>
</div>

<div class="form-group ">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
  <label class="firstNameLabel">Map Address</label>
  <textarea class="form-control" rows="5" id="comment" placeholder="Your Address"></textarea>
</div>
</div>
</div>


</div></div>
<div class="save">
<button type="button" class="btn btn-lg btn-block save2">Submit</button>
</div>

</form>
</div>
</div>

