

<div class="attach_your_resume" id="holder">
<form>

<div class="attach_your_resume_head">
<div class="col-xs-12 col-sm-12 col-md-12 attach_your_resume_inner">

<span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Reply
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
</div>
</div>
<div id="test">
<div class="resume-head">
<label class="firstNameLabel">Subject</label>
<input type="text"  placeholder="Enter Your Subject" class="form-control" required>
</div>



<div class="container-fluid">
<div class="form-group ">
<div class="row firstname">
<div class="col-xs-12 col-sm-12 col-md-12">
<label class="firstNameLabel">Message</label>
  <textarea class="form-control" rows="5" id="comment" placeholder="Enter Your Messages here.." ></textarea>
</div>
</div>
</div>
</div>
</div>
<div class="save">
<button type="button" class="btn btn-lg btn-block save2">Send</button>
</div>


</form>
</div>
