<div style="width:100%;float:left;" ng-swipe-left="goTorecommended()" ng-swipe-right="goToCustomAlerts()">
   <div id="holder" class="saveJobs">
      <div class="jobs">
         <div class="col-xs-12 col-sm-12 col-md-12 jobs1">
            <span>
            <a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
            Jobs for You
            <a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>
            </span>
         </div>
      </div>
     
      <div id="test">
         <div ng-repeat= "s in savedJobs" class="savedJobs">
            <table class="settableWidth">
               <tr>
                  <td class="hotjob"><img class="hotjob2" alt="hotjob" src="https://takeajob.s3.amazonaws.com/assets/app-images/app-hotjob.png"/></td>
                  <td><span class="jobstitle"><a style="color:#337ab7;" class="jobstitlelink" href="#/search/viewjob?id={{s.jobId}}">{{s.jobTittle}}</a></span></td>
               </tr>
            </table>
            <div class="company">{{s.companyName}}</div>
            <span class="expYears"><i class="fa fa-suitcase"></i>{{s.jobExp}}<i class="fa fa-star"></i></span><br>
            <span class="place"><i class="fa fa-map-marker"></i>{{s.jobLocation}}</span><br>
         </div>	
			 <img id="spinner" class="loader center-block" ng-src="https://takeajob.s3.amazonaws.com/assets/app-images/app-loader.gif"  style="display:{{none}}" height="30" width="30"/>
		 <h5 align ="center" style="color:red;">{{errorMessage}}</h5>
      </div>
	  <div class="save" ng-init="buuton_disable=false">
         <button type="button" ng-disabled="buuton_disable" ng-click="loadSavedJobs()" class="btn btn-lg btn-block save2">{{button}}</button>
      </div>
   </div>
</div>