
<div class="settings" id="holder">
<div class="header">
<div class="header1">

<span>
<a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Settings
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>
</span>
</div>
</div>
<div id="test">
<!-- <div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<i class="sprite sprite-notification"></i><a href="#/site/notificationSettings"><label for="exampleInputFile" class="firstNameLabel">Notification Settings</label></a>
</div>
</div>
<hr></hr> -->

<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<i class="sprite sprite-communication"></i><a href="#/communicationsettings/communicationsettings"><label for="exampleInputFile" class="firstNameLabel">Communication Settings</label></a>
</div>
</div>
<hr></hr>

<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<i class="sprite sprite-visibility"></i><a href="#/visibility/visibility"><label for="exampleInputFile" class="firstNameLabel">Visibility Settings</label></a>
</div>
</div>
<hr></hr>

<div class="form-group firstname2">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<i class="sprite sprite-password"></i><a href="#/jobseeker/changepassword"><label for="exampleInputFile" class="firstNameLabel">Change Password</label></a>
</div>
</div>
<hr></hr>
</div>

<div class="row1">
<div class="col-xs-6 col-sm-6 col-md-6">
<a href="#/site/termsAndConditions" class="textcolor4">Terms & Condition</a>
</div>
<div class="col-xs-6 col-sm-6 col-md-6">
<a href="#/site/privacy" class="textcolor5">Privacy</a>
</div>
</div>

<div class="row2">
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn submit" ng-click="exitApp();">Exit Application</button>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 removepad">
<button type="button" class="btn generate" ng-click="logout();">Logout</button>
</div>
</div>

</div>
