<link href="assets/css/basic.css" rel="stylesheet" type="text/css">
<div class="visibilitySettings" id="holder">

<div class="header">
<div class="header1">
<span>
<a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
Visibility Settings
<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a>
</span>
</div>
</div>
<div class="container" id="test">
<div class="form-group firstname">
<div class="col-xs-12 col-sm-12 col-md-12 align">
<label for="exampleInputFile" class="firstNameLabel">Visibility Status: Inactive</label>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 align">
<label for="radio1" class="radiobtntext">Visible as Active</label>
 <input type="radio" id="radio1" name="radiobtn" checked>
 <div class="check"><div class="inside"></div></div>
<p class="textstyle">Your Profile will be visible in the Takeajob Database to recruiters.Recruiters will contact you for 
for suitable job oppurtunities.</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 align">
<label for="radio2" class="radiobtntext">Visible as InActive</label>
 <input type="radio" id="radio2" name="radiobtn">
 <div class="check"><div class="inside"></div></div>
<p class="textstyle">Your Profile will be visible in the Takeajob Database,but recruiters will be informed that you are not actively looking for jobs
Recruiters may still contact you for job oppurtunities.</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 align">
<label for="radio3" class="radiobtntext">Not Visible</label>
 <input type="radio" id="radio3" name="radiobtn">
 <div class="check"><div class="inside"></div></div>
<p class="textstyle">Your Profile will not be visible for recruiters.You will not get unadvertised jobs
(which comprise upto 40% of all job opportunities on Takeajob.com) from recruiters</p>
</div>
</div>
<div class="save">
<button type="button" class="btn btn-lg btn-block save2">Save</button>
</div>
</div>
