<div class="workExperience" id="holder">
        <form>
            <div class="container-fluid">
                <div class="workExperience_head">
                    <div class="col-xs-12 col-sm-12 col-md-12 workExperience_inner">
                        <span><a href="" ng-click="closepage()"><i class="fa fa-angle-left" id="previous" aria-hidden="true"></i></a>
						Work Experience
						<a href="" ng-click="closepage()"><i class="fa fa-times-circle-o" aria-hidden="true" id="close"></i></a></span>
                    </div>
                </div>

                <div id="test">

                    <p>In case of experienced professionals, current or recent employer details required to sort out the best fit in according to your designation</p>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Company Name</label>
                                <input type="text" placeholder="Enter Your Company Name" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Employer Status</label>
                                <fieldset>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                            <label for="radio1" class="label_radio_text">
                                                Current Employer
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-padd">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                            <label for="radio2" class="label_radio_text">
                                                Previous Employer
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-padd">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio3" value="option3">
                                            <label for="radio3" class="label_radio_text">
                                                Other Employer
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-md-12">
                                <label class="firstNameLabel">Year</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-padd_right">
                                <input type="text" class="form-control" id="usr0" placeholder=" From Date">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-padd_left">
                                <input type="text" class="form-control" id="usr1" placeholder=" To Date">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Functional Area</label>
                                <select class="form-control">
                                    <option>Select Functional Area</option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Designation</label>
                                <select class="form-control">
                                    <option>Select Designation</option>
                                </select>
                                <span class="arrow"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="row firstname">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <label class="firstNameLabel">Job Profile</label>
                                <textarea class="form-control" rows="5" id="comment" placeholder="Describe about job profile..."></textarea>
                                <div class="count_text">0/2000</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="save">
                <button type="button" class="btn btn-lg btn-block save2">Save</button>
            </div>

        </form>
    </div>
